@model CarRent.Views.Models.Account.ForgetPasswordModel
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Login</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-primary">ForgetPassword </li>
        </ol>
    </div>
</div>
<!-- Header End -->

<div class="row d-flex justify-content-center m-5">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="text text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                        <span class="text text-danger small" asp-validation-for="Email"></span>
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100 p-2">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>