@model List<CarRent.Views.Models.Tag>
<div class="container-fluid p-3">
    <table class="table fs-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tag in Model)
        {
        <tr>
            <th scope="row">@tag.Id</th>
            <td>@tag.Name</td>
            <td>
                <a asp-action="update" asp-controller="tag" asp-route-id="@tag.Id">
                    <i class="fas fa-pen-to-square"></i>
                </a>
            </td>
            <td>
                <a onclick="if(!confirm('Are you sure?')){ return false; }" asp-action="remove" asp-controller="tag" asp-route-id="@tag.Id">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        }
        </tbody>
    </table>
    <a class="btn btn-primary w-100" asp-controller="tag" asp-action="Add">Add tag</a>
</div>