@model CarRent.Views.Models.Service
<div class="container-fluid p-3 fs-5">
    <div class="row">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Title</label>
                <input type="text" class="form-control border-danger" asp-for="Title">
                <span class="text-danger fs-6" asp-validation-for="Title"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea class="form-control border-danger" asp-for="Description" rows="3"></textarea>
                <span class="text-danger fs-6" asp-validation-for="Description"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Icon" class="form-label">Icon</label>
                <div class="form-check">
                    <input class="form-check-input border-danger" value="fa-phone-alt" type="radio" name="Icon" asp-for="Icon">
                    <label class="form-check-label" asp-for="Icon">
                        <i class="fas fa-phone-alt"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input border-danger" value="fa-money-bill-alt" type="radio" name="Icon" asp-for="Icon" >
                    <label class="form-check-label" asp-for="Icon">
                        <i class="fas fa-money-bill-alt"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input border-danger" value="fa-road" type="radio" name="Icon" asp-for="Icon">
                    <label class="form-check-label" asp-for="Icon">
                        <i class="fas fa-road"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input border-danger" value="fa-umbrella" type="radio" name="Icon" asp-for="Icon">
                    <label class="form-check-label" asp-for="Icon">
                        <i class="fas fa-umbrella"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input border-danger" value="fa-building" type="radio" name="Icon" asp-for="Icon">
                    <label class="form-check-label" asp-for="Icon">
                        <i class="fas fa-building"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input border-danger" value="fa-car-alt" type="radio" name="Icon" asp-for="Icon">
                    <label class="form-check-label" asp-for="Icon">
                        <i class="fas fa-car-alt"></i>
                    </label>
                </div>
                <span class="text-danger fs-6" asp-validation-for="Icon"></span>
            </div>
            <button class="btn btn-primary w-100 mt-3" type="submit">Add Service</button>
        </form>
    </div>
</div>