@using CarRent.Views.Models
@model CarRent.Views.Models.Blog
<div class="container-fluid p-3 fs-5">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Title1" class="form-label">Title 1</label>
                <input type="text" class="form-control border-danger" asp-for="Title1">
                <span class="text-danger fs-6" asp-validation-for="Title1"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description1" class="form-label">Description 1</label>
                <textarea type="text" class="form-control border-danger" asp-for="Description1"></textarea>
                <span class="text-danger fs-6" asp-validation-for="Description1"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Title2" class="form-label">Title 2</label>
                <input type="text" class="form-control border-danger" asp-for="Title2">
                <span class="text-danger fs-6" asp-validation-for="Title2"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description2" class="form-label">Description 2</label>
                <textarea type="text" class="form-control border-danger" asp-for="Description2"></textarea>
                <span class="text-danger fs-6" asp-validation-for="Description2"></span>
            </div>
           
            <div class="mb-3">
                <label asp-for="AuthorId" class="form-label">Category</label>
                <select  class="form-select border-danger" asp-for="AuthorId" aria-label="Default select example">
                    <option disabled selected>Open this select menu</option>
                    @foreach (Author author in ViewBag.Authors)
                    {
                        <option value="@author.Id">@author.Name</option>
                    }
                </select>
                <span class="text-danger fs-6" asp-validation-for="CategoryId"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TagIDs" class="form-label">Tags</label>
                <select multiple class="form-select border-danger" asp-for="TagIDs" aria-label="Default select example">
                    <option disabled selected>Open this select menu</option>
                    @foreach (Tag tag in ViewBag.Tags)
                    {
                    <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
                <span class="text-danger fs-6" asp-validation-for="TagIDs"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Paragraph" class="form-label">Paragraph</label>
                <textarea type="text" class="form-control border-danger" asp-for="Paragraph"></textarea>
                <span class="text-danger fs-6" asp-validation-for="Paragraph"></span>
            </div>
            <div class="mb-3">
                <label asp-for="File" class="form-label">Image</label>
                <input type="file" class="form-control border-danger" asp-for="File">
                <span class="text-danger fs-6" asp-validation-for="File"></span>
            </div>
            <button class="btn btn-primary w-100 mt-3" type="submit">Add Staff </button>
        </form>
    </div>
</div>